/* CSS */
:root {
--dark-jungle-green:#071e22;
--myrtle-green: #1d7874;
--wintergreen-dream: #679289;
--peach-crayola: #f4c095;
--red-pigment: #ee2e31;
}

body {
    background-color: var(--dark-jungle-green);
    color: var(--peach-crayola);
}